@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter></Counter>
<p>First Counter component.</p>


<Counter></Counter>
<p>Second Counter component.</p>


<p>Notice that the state is not shared between the components, and the count is independent.</p>