@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter></Counter>
<p>First Counter component. Increments by default value i.e. 1.</p>


<Counter IncrementBy="2"></Counter>
<p>Second Counter component. Increments by a specifically specified parameter value.</p>


<p>Notice that the state is not shared between the components, and the count is independent.</p>